
body {

    background-color: #FFC0CB !important;

}

#mybuttons {

    margin: auto;
    width: 60%;

}

#mygifs {

    background-color: #343A40;
    color: white;
    text-align: center;

}

#gifid {

    padding: 10px;

}

h2 {

    text-align: center;

}

p {

    text-align: center;
    font-size: 20pt;

}


#submission {

    text-align: center;
}

#submit {

    color: white;
    background-color: #343A40;

}

.btn { 

    margin: 5pt;

}


